@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-white);
}

html.dark body {
  background-color: var(--color-gray-900);
}

footer {
  height: 40px;
}

@theme {
  --color-spotify-green: #1cd760;
  --color-spotify-black-1: #070707;
  --color-spotify-black-2: #121212;
  --color-spotify-black-3: #181818;
  --color-spotify-black-4: #282828;
  --color-linkedin-blue-1: #0077b5;
  --color-gmail-red-1: #c71610;
  --color-discord-blurple: #7289da;
  --color-twitter-blue-1: #00acee;
  --color-x-black-1: #000;
  --color-zasifer-yellow-1: #ffd600;
}
